@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  background: #ffff;
  overflow: hidden;
}

textarea {
  resize: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply border-2 text-white shadow-md;
  }
  .btn-secondary {
    @apply border-2 text-white shadow-md;
  }
  .btn-accent {
    @apply border-2 text-white shadow-md;
  }
}
