@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rowdies:wght@300;400;700&display=swap");
:root {
  --foreground-rgb: 0, 0, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: #ffff;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply border-2 text-white shadow-md;
  }
  .btn-secondary {
    @apply border-2 text-white shadow-md;
  }
  .btn-accent {
    @apply border-2 text-white shadow-md;
  }
}
